<nav class="navbar navbar-expand-lg navbar-main bg-main">
  <div class="container-fluid d-flex justify-content-between">
    <button class="navbar-toggler border-0" type="button">
      <span class="text-main"><i class="fa-solid fa-bars"></i> </span>
    </button>
    <div class="navbar-brand mx-auto text-main">Pay Easily</div>
    <span>
      <i class="fa fa-search"></i>
    </span>
  </div>
</nav>
