<div id="<%= dom_id cost %>">
  <p>
    <strong>Name:</strong>
    <%= cost.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= cost.amount %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= cost.author_id %>
  </p>

</div>
